<div class="
  button 
  button--{{size}} 
  button--{{ variant }}
">{{ label }}</div>


{{!--
<div class="
  {{classNames.main}}
  {{classNames.size}}
  {{classNames.variant }}
">{{ label }}</div> --}}